body {
	
	font-family: 'PT Sans Narrow', sans-serif;
	background-color: #292929;

  	color: #fff;
  	/*background-image: url("../img/bg-desktop.jpg");
  	background-repeat: no-repeat;
  	background-position: top center;*/
}
.page-main {
	//background-color: #292929;
}
.visually-hidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden; 
}