.advantages__item {
  width: 280px;
  list-style: none;
  text-align: center; }

.advantages__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 30px; }

.advantages__description {
  font-size: 20px;
  line-height: 27px; }

.advantages {
  width: 320px;
  margin: 0 auto; }

.advantages__toggles {
  display: none; }

.advantages__description {
  font-weight: 200; }

@media (min-width: 768px) {
  .advantages {
    width: 640px;
    margin: 0 auto;
    min-height: 540px; }
  .advantages__item {
    text-align: left;
    width: 580px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .advantages__toggles {
    display: none; }
  .advantages__item--text {
    padding-left: 30px; }
  .advantages__title {
    text-align: left; }
  .advantages__item img {
    margin-top: 40px; } }

@media (min-width: 1200px) {
  .advantages {
    width: 960px;
    margin: 0 auto; }
  .advantages__list {
    margin-right: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
  .advantages__item {
    margin-right: 30px;
    text-align: left;
    min-height: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .advantages__list hr {
    display: none; }
  .advantages__item--text {
    padding-left: 30px; }
  .advantages__title {
    margin-left: 70px; }
  .advantages__item img {
    margin-left: 90px; } }
