.page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.page-header__logo {
  height: 85px;
  text-align: center; }

.page-header__logo img {
  width: 226px;
  height: 85px; }

@media (min-width: 768px) {
  .page-header {
    background-color: #000;
    background-image: url("../img/bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center -9px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header {
      background-image: url("../img/bg-tablet-inner.jpg");
      -webkit-background-size: 1200 auto;
              background-size: 1200 auto; } }

@media (min-width: 768px) {
  .page-header__logo {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    height: 400px;
    margin: 0 auto;
    /*background-color: #000;
		background-image: url("../img/bg-desktop.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center -9px;*/ }
  .page-header__logo img {
    display: block;
    width: 370px;
    height: auto;
    margin-top: 40px; } }

@media (min-width: 1200px) {
  .page-header {
    background-color: #000;
    background-image: url("../img/bg-desktop.jpg");
    background-position: center 0;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat; } }

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1200px) and (-o-min-device-pixel-ratio: 3/2), (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  background-image: url("../img/bg-desktop-inner.jpg");
  -webkit-background-size: 2560px auto;
          background-size: 2560px auto; }

@media (min-width: 1200px) {
  .page-header__logo {
    height: 648px; } }
