.reviews {
  background-color: #fff; }

.reviews__title {
  font-size: 40px;
  line-height: 30px;
  color: #000;
  text-align: center; }

.reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  color: #000; }

.reviews__text {
  font-size: 18px;
  line-height: 27px;
  color: #000; }

.reviews {
  width: 320px;
  margin: 0 auto; }

.reviews__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.reviews__item--hidden {
  display: none; }

.reviews__write {
  display: none; }

.reviews__prev,
.reviews__next {
  display: none; }

.reviews__toggles {
  display: none; }

@media (min-width: 768px) {
  .reviews {
    width: 640px;
    margin: 0 auto;
    position: relative; }
  .reviews__list {
    min-height: 182px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .reviews__item {
    width: 540px; }
  .reviews__write {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center; }
  .reviews__title {
    text-align: left; } }

@media (min-width: 1200px) {
  .reviews {
    width: 960px;
    margin: 0 auto; }
  .reviews__list {
    min-height: 220px; }
  .reviews__item {
    width: 820px; } }
