.social__title {
	font-size: 18px;
	line-height: 27px;
	display: none;
}
.social__list  {
	list-style: none;
	display: block;
	width: 280px;
	height: 100px;
	margin: 0 auto;

}
.social__item {
	display: block;
	width: 93px;
	height: 100px;
	border: 1px solid gray;
	text-align: center;
}
.social__link--vkontakte img {
	margin-top: 36px;
}
.social__link--facebook img {
	margin-top: 28px;
}
.social__link--instagram img {
	margin-top: 32px;
}
/*.page-footer__social {
	width: 320px;
	margin: 0 auto;
}*/
.social__list {
	display: flex;
	
}
@media (min-width: 768px) {
	.page-footer__social {
		width: 640px;
	}
	.social__list {
		width: 640px;
		order: 2;
	}
	.social__item {
		width: 213px;
	}

}
@media (min-width: 1200px) {
	.page-footer__social {
		margin-top: 50px;
		width: 166px;
	}
	.social__title {
		display: block;
		text-align: center;
		margin-left: 50px;
	}
	.social__list {
		width: 166px;
		display: flex;
		justify-content: space-between;
	}
	.social__item {
		width: 50px;
		height: 50px;
	}
	.social__link--vkontakte img {
		margin-top: 10px;
	}
	.social__link--facebook img {
		margin-top: 5px;
	}
	.social__link--instagram img {
		margin-top: 7px;
	}
}
