.price {
	background-color: #696969;
}
.price__title {
	font-size: 40px;
	line-height: 30px;

}
.price__table td {
	border: 1px solid #c0c0c0;

}
.price__table {
	border-collapse: collapse;
}
.column-1 {
	color: #c0c0c0;
	font-size: 17px;
	line-height: 13px;
}
.column-2 {
	font-size: 20px;
	line-height: 27px;
}
.column-3 {
	font-size: 20px;
	line-height: 27px;
}
.column-4 {
	font-size: 20px;
	line-height: 27px;
}
.price__time {
	width: 270px;
	height: 276px;
	border: 1px solid #c0c0c0;
}
.price__discount {
	font-size: 20px;
	line-height: 27px;
}
.price__wrapper {
	width: 320px;
	margin: 0 auto;
}
.price__time {
	width: 320px;
	height: 92px;
	display: flex;
	justify-content: space-between;
}
.price__time img {
	width: 63px;
	height: 63px;
	margin: 15px 20px;
}
.price__discount {
	display: block;
	margin: 15px 15px;
}
@media (min-width: 768px) {
	.price__wrapper {
		width: 640px;
		margin: 0 auto;
	}
	.price__table {
		width: 640px;
		height: 276px;
		margin: 0 auto;
	}
	.price__time {
		width: 640px;
		height: 112px;
	}
	.price__discount {
		display: block;
		margin: 40px 90px;
		font-weight: bold;

	}
	.price__discount br {
		display: none;
	}
}
@media (min-width: 1200px) {
	.price__wrapper {
		width: 960px;
		margin: 0 auto;
	}
	.price__wrapper-special {
		width: 960px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.price__table {
		width: 630px;
		height: 278px;
		margin: 0 auto;
	}
	.price__time {
		width: 270px;
		height: 278px;
		flex-direction: column;
	}
	.price__time img {
		width: 145px;
		height: 145px;
		margin: 5px 60px;
	}
	.price__discount {
		display: block;
		margin-bottom: 40px; 
	}
}
